
name: tpchgen-publish-crates.yml

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write     # Required for OIDC token exchange
    strategy:
      # Publish package one by one instead of flooding the registry
      max-parallel: 1
      matrix:
        # Order here is sensitive, as it will be used to determine the order of publishing
        package:
          - "tpchgen"
          - "tpchgen-arrow"
          - "tpchgen-cli"
    steps:
      - uses: actions/checkout@v5

      - uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Publish ${{ matrix.package }}
        working-directory: ${{ matrix.package }}
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
